# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude all .tfvars files
*.tfvars

# Ignore CLI configuration files
.terraformrc
terraform.rc

# dbt
target/
dbt_modules/
dbt_packages/
logs/
venv/
env/
test.env
__pycache__

# local env
.env

# packaging
*.egg-info/

# dagster dev env
tmp*/